target/
build/
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

.mvn/wrapper/maven-wrapper.jar

*.log
*.class
*.ctxt
.mtj.tmp/
hs_err_pid*
replay_pid*

.idea/
*.iws
*.iml
*.ipr

.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

.vscode/

.env
application-local.properties